*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    }
form{
    border-radius: 5%;
    margin: auto;
    height: 76vh;
    width: 53vh;
    margin-top:auto;
    background-color: lightseagreen;
    border-style:solid;
}
#result{
text-indent: 0vh;
color: lightseagreen;
font-size: 5vh;
  border-radius: 5%;
  margin-left: 2.8vh;
   height: 14vh;
   width: 45.9vh;
   background-color: blue;
}
input{
margin-top: 0.8vh;
margin-left: 4vh;
height: 7.7vh;
width: 7.7vh;
border-radius: 70%;
background-color: lightsteelblue;
border-style:outset;
font-size:large;
border-style:groove;
border-color:mediumblue;
}
#A1{
 background-color:crimson;
}
#B1{
background-color:chocolate;
}
#C1{
background-color:chocolate;
}
@media only screen and (max-width: 1140px){
    body{
        width: 100%;
    }
    form{
     height:85%;   
     align-items: center;
     width: 100%;
    }
    #result{
       width: -webkit-fill-available;
       align-items: center;
       height: 13%;
       margin: 0% 5% 0% 5%;
       border-radius: 5%;
    }
    input{
        margin-right: 5%;
        margin-left: 8%;
        font-size:120%;
        height: 11%;
        width: 11%;
        margin-top: 1%;
    }
}
@media only screen and (max-width:581px){
    input{
        height: 11%;
        width: 11%;
        margin-top: 2%;
        font-size: 130%;
        margin-left: 7.5%;
    }
    form{
        height: 70%;
        margin-left: 3vh;
        margin-right: 2vh;
        width: 95%;
    }   
}
@media only screen and (max-width: 490px){
    input{
        margin-right: 0%;
        font-size:100%;
        height: 10%;
        width: 14%;
        margin-top: 2%;
    }
    form{
        height: 70%;
        margin-left: 2vh;
        margin-right: 2vh;
        width: 95%;
    }
    #result{
        height: 15%;
    }
}
@media only screen and (max-width: 352px){
    input{
        height: 12%;
        width: 13%;
        margin-top: 1%;
        margin-right: -1%;
        font-size: 100%;
        margin-left: 9%;
    }
    form{
        height: 63%;
    }
}
@media only screen and(max-width:280){
    input{
        height: 10%;
        width: 10%;
    }
}
